<% provide(:title, 'About')%>

<h1>About</h1>
<p>Created by <%= link_to "Calvin Cooper", 'http://www.calvincooper.com' %></p>
<ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Help", help_path %></li>
</ul>