<% provide(:title, 'Help')%>

<h1>Help</h1>
<p>A simple battle application brought to the web with Ruby on Rails.</p>
<ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "About", about_path %></li>
</ul>